<!doctype html>
<html ng-app="lavajato">
  <head>
    <meta charset="utf-8">
    <title>lavajato</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
    <!-- bower:css -->
    <!-- run `gulp inject` to automatically populate bower styles dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp/serve,src}) styles/app.css -->
    <!-- inject:css -->
    <!-- css files will be automatically insert here -->
    <!-- endinject -->
    <!-- endbuild -->
  </head>
  <body>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.8&appId=378219272252416";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

    <div class="container" ng-controller="MainController as main">

    
      <div class="jumbotron text-center">
        <h1><b>Descubra seu nome <br/>na Lava Jato</b></h1>
        <p class="lead ">
          <img src="http://controversia.com.br/wp-content/uploads/2016/04/michel-temer-1200x400_c.jpg" class="img-responsive ">
          <br>
          Os codinomes levam em conta atributos físicos e também trocadilhos com os nomes dos políticos.
        </p>
      </div>


      <div class="row">
        <div class="col-xs-6">
        <select class="form-control" ng-model="main.name">
          <option ng-repeat="day in main.days" value="{{day[1]}}">{{day[0]}}</option>
        </select>
        </div>
        <div class="col-xs-6">
          <select class="form-control" ng-model="main.lastname">
          <option ng-repeat="month in main.months" value="{{month[1]}}">{{month[0]}}</option>
        </select>
      </div>
      </div>
      <hr/>

        <h2 class="text-center"><b>{{main.name}} {{main.lastname}}</b></h2>
      <hr/>
      <div class="text-center">
        <div class="fb-like" data-href="http://createstorm.com.br/dev/lavajato" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
      </div>
      <div class="text-center">
        <a href="https://twitter.com/kibeloco/status/808419657459888128" class="btn btn-link" target="_blank">Créditos</a>
        <a href="https://bitbucket.org/ivan_scher/lava-jato" class="btn btn-link" target="_blank">Bitbucket</a>
      </div>
    </div>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-4589403-15', 'auto');
    ga('send', 'pageview');

  </script>

    <!-- build:js(src) scripts/vendor.js -->
    <!-- bower:js -->
    <!-- run `gulp inject` to automatically populate bower script dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
    <!-- inject:js -->
    <!-- js files will be automatically insert here -->
    <!-- endinject -->

    <!-- inject:partials -->
    <!-- angular templates will be automatically converted in js and inserted here -->
    <!-- endinject -->
    <!-- endbuild -->


  </body>
</html>
